.storie__image {
    max-width: 460px;
    max-height: 460px;
    margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
    .storie__image {
        margin-right: 15px;
        max-width: 340px;

    }
}

@media screen and (max-width: 500px) {
    .storie__image {
        max-width: 320px;
        margin: 0;

    }
}