.journey {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-top: 91px;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 320px) {
    .journey {
        padding-top: 50px;
    }

}