.gallery-grid {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 16px;
    margin: 92px 48px 92px 48px;

}

@media screen and (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: 720px;
        grid-gap: 16px;
        margin: 64px 24px 88px;
    }
}

@media screen and (max-width: 500px) {
    .gallery-grid {
        display: flex;
        flex-wrap: wrap;
        max-width: 320px;
        grid-gap: 12px;
        margin: 38px 16px 62px;
    }
}