.storie__place {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .storie__place {
        display: flex;
        flex-direction: column;
        max-width: 355px;
    }
}

@media screen and (max-width: 500px) {
    .storie__place {
        display: flex;
        flex-direction: column;
        max-width: 320px;
        gap: 30px;
    }
}