.storie__link_positions_berea {
    max-width: 484px;
    margin: 0;

}

@media screen and (max-width: 768px) {
    .storie__link_positions_berea {
        max-width: 352px;
        margin: 0;

    }
}