.storie__position-gales {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .storie__position-gales {
        display: none;
    }
}