.storie__title {
    max-width: 460px;
    font-size: 72px;
    line-height: 76px;
    margin: 0 0 48px;
}

@media screen and (max-width: 768px) {
    .storie__title {
        font-size: 42px;
        margin: 0 0 46px;
        line-height: 46px;

    }
}

@media screen and (max-width: 320px) {
    .storie__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 16px;
    }
}