.journey__subtitle {
    text-align: center;
    font-size: 30px;
    max-width: 720px;
    max-height: 72px;
    font-weight: 400;
    margin: 32px 0 0;
    line-height: 1.5;

}

@media screen and (min-width: 768px) {
    .journey__subtitle {
        margin-top: 90px;
        line-height: 36px;
    }

}

@media screen and (max-width: 500px) {
    .journey__subtitle {
        text-align: center;
        font-size: 16px;
        max-width: 288px;
        max-height: 40px;
        font-weight: 400;
        margin: 16px 0 0;
        line-height: 20px;
    }

}