.visit__info {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFDFD;
    font-style: normal;
    max-width: 280px;
    height: 66px;
    text-align: center;
    margin: 0 auto 32px;
}

@media screen and (max-width: 452px) {
    .visit__info {
        height: 48px;
        font-size: 14px;
        line-height: 16px;
        margin: 16px 0 16px;
    }

}