.visit__title {
    color: #FFFDFD;
    max-width: 656px;
    max-height: 76px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0 32px;

}

@media screen and (max-width: 452px) {
    .visit__title {
        max-width: 288px;
        max-height: 35px;
        font-size: 32px;
        line-height: 35px;

    }
}