.storie__title_position {
    position: absolute;
    max-width: 484px;
}

@media screen and (max-width: 768px) {
    .storie__title_position {
        max-width: 340px;
        margin: 22px 0 0;

    }
}

@media screen and (max-width: 500px) {
    .storie__title_position {
        margin: 0 16px 0 16px;
    }
}