.stories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;

}

@media screen and (max-width: 768px) {
    .stories {
        display: flex;
        flex-direction: column;
        max-width: 768px;

    }

}